<a href="{{ home_url }}" class="navbar-brand mr-10">
{% if logo %}
  {% set logo_file = (logo|first).name %}
  {% if logo_file|ends_with('.svg') %}
    {% include('@images/logo/'~logo_file) %}
  {% else %}
    <img src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="{{ site.name }}" />
  {% endif %}
{% else %}
    {% include('@images/klb4-logo.svg') %}
{% endif %}
</a>