/** Extra columns spacing **/
.extra-spacing:not(.col-12),
:not(.col12) > .e-content {
  padding-right: 1rem;

  img {
    padding: 2px;
    border: $border-width solid $gray-color-light;
    background: $light-color;
    transition: all 0.2s linear;
    text-align: center;
    &:hover {
      opacity: 0.8;
      transition: all 0.2s linear;
    }
  }

  @include breakpoint(md) {
    padding-right: 0;
  }
}

.columns.frame-box {
  &.content-shadow {
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0 75px 0 rgba(69, 77, 93, 0.1);
    border-radius: 1rem;
  }
}

.e-children {
  .title-children {
    margin: 0 !important;
    padding: 0.8rem 0;
    text-transform: uppercase;
    a:hover {
      text-decoration: none;
      color: $accent-color;
      transition: all 0.3s linear;
    }
  }
  .divider {
    border-color: $gray-color-light;
    &:last-child {
      display: none;
    }
  }
}

/** Page Hero Blog styling override **/
#blog-hero {
  h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0.8rem;
  }
}

/** Breadcrumbs styling **/
#breadcrumbs {
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-top: -1rem;
  font-size: 0.6rem;
  text-transform: uppercase;

  i {
    display: none;
  }

  span,
  a {
    padding: 0;
    &:not(:first-child)::before {
      color: #e7e9ed;
      content: "/";
      padding: 0 1rem;
    }
  }
}

/** Blog Listing **/
.blog-listing {
  padding-left: 2rem;
  padding-right: 2rem;
  .bricklayer-column {
    padding-left: 0px;
    padding-right: 25px;
    &:last-child {
      padding-right: 0;
    }
    .card {
      margin-bottom: 25px;
      border: 0;
      box-shadow: 0 10px 45px -9px rgba(0, 0, 0, 0.1);
      .card-image img {
        &:hover {
          opacity: 0.8;
          transition: all 0.2s linear;
        }
      }
      .card-title {
        text-transform: uppercase;
      }
      .card-body {
        display: none;
      }
    }

    .card-footer {
      text-align: right;
    }

    .blog-date {
      font-size: 13px;
    }
  }
  .bricklayer.row-force {
    display: block;
    .bricklayer-column {
      &:last-child {
        padding-right: 25px;
      }
      .card {
        flex-direction: row;
        @include breakpoint(xs) {
          flex-direction: column;
        }
        .card-image {
          max-width: 20%;
          @include breakpoint(xs) {
            max-width: 100%;
          }
        }
        .card-body {
          display: block;
          padding: 0;
          p {
            margin: 0;
          }
        }
      }
    }
  }
  .btn-toggle-list-format {
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    margin-top: -23px;
    position: relative;
    z-index: 2;
    @include breakpoint(xs) {
      display: none;
    }
    span {
      background-color: white;
      padding: 0 0.2rem;
      border-radius: 4px;
      border: 1px solid $gray-color-light;
      box-shadow: 0 0 3px $gray-color;
      button {
        color: $primary-color;
        background: transparent;
        padding: 0;
        border: none;
        box-shadow: none;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
        &:focus {
          outline: none;
          outline-offset: -4px;
        }
        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

/** Blog Item **/
.content-title {
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 0.5rem;
  }
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

/** Pagination **/
ul.pagination {
  justify-content: center;
}

.prev-next {
  margin-top: 4rem;
}

/** Sidebar specific tweaks **/
#sidebar {
  text-transform: uppercase;
  //sidebar style
  .menu {
    padding-top: 0;
    box-shadow: none;
    border-left: 1px solid $gray-color-light;
    font-size: 0.7rem;
  }

  //sticker option anchor plugin override
  .sticky-wrapper {
    &.is-sticky {
      .menu {
        z-index: 1000 !important;
        top: 50px !important;
        height: 350px;
        overflow: auto;
      }
    }
  }

  ul.related-pages {
    box-shadow: none;
    padding: 0;
    z-index: 1;

    li {
      border-bottom: 1px solid $border-color;
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  ul.archives {
    list-style: none;
    margin-left: 0;

    .label {
      vertical-align: text-top;
    }
  }

  @include breakpoint(xs) {
    display: none;
  }
}

.section {
  &.blog-listing {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
