// Sticky Footer solution
body.sticky-footer {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  #page-wrapper {
    flex: 1 0 auto;
  }
}

#footer {
  color: #acb3c2;
  padding: 1rem $horiz-padding 0;
  text-align: center;
  font-size: $unit-3;
  &.bg-dark {
    background: lighten($dark-color, 3%) !important;
    a {
      color: lighten($primary-color-light, 20%);
      &:hover, &:focus, &.active {
        color: $light-color;
      }
    }
  }
  .fa-heart-o {
    color: lighten($error-color, 10%);
  }
}