//SimpleSearch
section.search-page {
    padding-left: 2rem;
    padding-right: 2rem;

    .search-image {
        img {
            padding: 2px;
            border: $border-width solid $gray-color-light;
            background: $light-color;
            transition: all 0.2s linear;

            &:hover {
                opacity: 0.8;
                transition: all 0.3s linear;
            }
        }
    }

    .search-item {
        .search-date {
            color: $gray-color;
        }

        hr {
            background-color: $gray-color-light;
            height: $border-width;
            border: 0;
        }
    }
}

.search-wrapper,
#tntsearch-wrapper {

    .search-input,
    [data-grav-field="array"] input,
    [data-grav-field="array"] textarea {
        width: 60%;
        height: 80px;
        display: inline-block;
        border-radius: 15px;
        font-size: 24px;
        padding-left: 55px;
        padding-right: 25px;
        border-bottom: 3px solid $primary-color;

        @include breakpoint(sm) {
            width: 90%;
        }
    }

    .icon-search {
        position: relative;

        &:before {
            font-family: "FontAwesome";
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-weight: 900;
            content: "\f002";
            position: absolute;
            left: 18px;
            font-size: 1.5rem;
            line-height: 80px;
            color: $secondary-color;
            z-index: 3;
        }
    }
}

//TNT Search
.tntsearch-dropdown~.tntsearch-results .row {
    width: 100%;
    color: $dark-color;
    text-align: left;
    border-radius: 10px;
    padding: 20px;

    .result-content {
        height: 500px;
        overflow: auto;
    }
}

.tntsearch-clear {
    color: $dark-color;
    line-height: 3.5rem;
    top: inherit;

    &:hover {
        color: red;
    }
}

.tntsearch-results {
    .title {
        text-transform: uppercase;
    }

    .route {
        color: $accent-color;
        font-style: italic;
        opacity: .6;
    }

    .info {
        text-align: center;
        font-size: 1rem;

        .hits {
            font-weight: bold;
        }
    }
}

//Img Captions
figure {
    figcaption {
        text-align: center;
        color: $gray-color;
        font-style: italic;
        font-size: 0.7rem;
    }
}

//Thumb Ratings override
.thumb-ratings {
    .title-thumb {
        color: $gray-color;
        font-size: 0.7rem;
    }

    .thumb {
        &:first-child {
            background-color: $primary-color !important;
            transition: all 0.2s linear;

            &:hover {
                transition: all 0.2s linear;
                background-color: lighten($success-color, 30%) !important;
            }
        }

        &:last-child {
            background-color: $secondary-color !important;
            transition: all 0.2s linear;

            &:hover {
                transition: all 0.2s linear;
                background-color: lighten($error-color, 10%) !important;
            }
        }
    }
}

//Backtotop style override
#return-to-top {
    line-height: 50px;
    background: $primary-color;
    z-index: 9999;
    border: $border-width solid $primary-color-dark;

    &:hover {
        background: $primary-color-dark;
    }

    i {
        position: static;
    }
}

//Snappygrav style override
.btn-snappygrav {
    .export {
        padding: 0.2rem;
        margin: 0;
        font-size: 0.5rem;

        i.fa {
            color: $error-color;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.jconfirm.jconfirm-supervan .jconfirm-box .jconfirm-buttons button {
    padding: 0;

    &.btn-green {
        background: $primary-color;

        &:hover {
            background: $primary-color-light;
        }
    }

    &.btn-purple {
        background: $success-color;

        &:hover {
            background: lighten($success-color, 10%);
        }
    }

    &.btn-gray {
        &:hover {
            background: lighten(#303f53, 10%);
        }
    }
}

.jconfirm-title-c {
    i.fa {
        color: lighten($error-color, 15%);
    }
}

//External Links
h1,
.title-children {
    .anchorjs-link {
        display: none;
    }
}

.title-h1h2 {

    h1,
    h2,
    h3 {
        .anchorjs-link {
            display: none;
        }
    }
}

.btn-primary {
    &.external-link {
        background: $primary-color !important;

        &:focus,
        &:hover {
            background: darken($primary-color-dark, 2%) !important;
            border-color: darken($primary-color-dark, 5%);
            color: $light-color;
        }
    }
}

.btn-success {
    &.external-link {
        background: $success-color !important;
    }
}

.btn-error {
    &.external-link {
        background: $error-color !important;
    }
}