//override spectre utilities
// Divider
.divider {
    border-top: $border-width solid $gray-color-light;
}

//colors variants add
//text
@include text-color-variant(".text-accent", $accent-color);
//backgrond
@include bg-color-variant(".bg-accent", $accent-color);

//Changelog Format
.changelog{
    h2{
        margin-bottom: 0;
    }
    h3{
        margin-top: 0;
        font-size: 1rem !important;
        font-weight: normal !important;
    }
    ol{
        list-style: none;
        padding: 0;
        margin: 0 0 3rem 0;
        a[href='#new']+ul>li:before{
            background-color: #207DE5;
            content: 'New';
            font-size: .6rem;
            text-transform: uppercase;
        }
        a[href='#improved']+ul>li:before{
            background-color: #FBCA04;
            color: #333;
            content: 'Improved';
            font-size: .6rem;
            text-transform: uppercase;
        }
        a[href='#bugfix']+ul>li:before{
            background-color: #FC2929;
            content: 'Bugfix';
            font-size: .6rem;
            text-transform: uppercase;
        }
        ul{
            list-style: none;
            padding: 0;
            li{
                margin-bottom: 1rem;
                padding-left: 4.5rem;
                &:before{
                    margin-left: -6rem;
                    display: inline-block;
                    border-radius: 2px;
                    color: #fff;
                    font-weight: 700;
                    margin-right: 1rem;
                    text-align: center;
                    width: 5rem;
                    font-size: 0.8rem;
                    padding: 2px 0;
                    font-style: normal;
                }
            }
        }
    }
}